CH2/XML/CHDB.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CH">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="VIDEO">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Filename" type="xs:string" minOccurs="1"/>
              <xs:element maxOccurs="unbounded" name="Round">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="StartTime" type="xs:time" />
                      <xs:element name="EndTime" type="xs:time" />
                      <xs:element name="SkillRating" type="xs:unsignedInt" />
                    </xs:choice>
                  </xs:sequence>
                  <xs:attribute name="Buried" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Exists" type="xs:boolean" use="optional" />
            <xs:attribute name="LastChecked" type="xs:dateTime" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>